.gradle
build/
out/

# Mac
.DS_Store

# Ignore Gradle GUI config
gradle-app.setting

.idea/
*.ipr
*.iws
*.iml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
